{% extends 'ListForksBundle::layout.html.twig' %}

{% block title %} {% endblock %}


{% block body %}
    <h3> Account Profile </h3>

    <form action="{{ path('_account') }}" method="post" {{ form_enctype(form) }}>
    {{ form_row(form.account.username) }}
    {{ form_row(form.account.email) }}
    {{ form_row(form.account.password) }}
    {{ form_rest(form) }}

	<br />

	<input type="submit" value="Update Profile" />
	</form>
{% endblock %}



{% block footer %} 
             {% include 'ListForksBundle:Footer:footer.html.twig' %}  
{% endblock %}